<!DOCTYPE html>
<html>
    <head>
        <title>Love Nest</title>
        <link href="~/FormStyle.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
        <link rel="icon" href="http://www.freeiconspng.com/uploads/heart-png-15.png" />

    </head>
    <body>
        <form>
            <h1>Sorry, im afraid you wont find love here....</h1>
        </form>
        <button onclick="window.location.href='/Form.cshtml'">Find Love</button>

    </body>
</html>
