<!DOCTYPE html>
<html>
    <head>
        <title>Love Nest</title>
        <link href="~/FormStyle.css" rel="stylesheet" />
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes" />
        <link rel="icon" href="http://www.freeiconspng.com/uploads/heart-png-15.png" />

    </head>
    <body>
        <h1>YOUR DATA IS SAVED :)</h1>
        <h2>Have fun!</h2>
    </body>
</html>
